numpy
scipy
tqdm
lpips
mmcv
imageio
imageio-ffmpeg
opencv-python
pytorch_msssim
-f https://download.pytorch.org/whl/cu117
torch==1.13.1
# Require torch and thus should be installed manually after the first setup.
# torch_scatter
Pillow
